@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&dsplay=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppings', sans-serif;
}

body {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    background: url(img/rotatorimg.jpeg);
    background-size: cover;
}

h2 {
    position: relative;
    font-size: 5em;
    color: burlywood;
    width: 80%;
}

h2 span {
    color: beige;
    display: none;
}

@media (max-width: 992px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppings', sans-serif;
    }

    body {
        display: flex;
        justify-content: right;
        align-items: center;
        min-height: 100vh;
        background: url(img/rotatorimg.jpeg);
        background-size: cover;
    }

    h2 {
        position: relative;
        font-size: 2em;
        color: burlywood;
        width: 80%;
    }

    h2 span {
        color: beige;
        display: none;
    }
}