@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 100vh;
    background: url(img/rotatorimg.jpeg);
    background-size: cover;
    padding-bottom: 10vh;
}

h2 {
    position: relative;
    font-size: 4em;
    color: burlywood;
    width: 73%;
}

h2 span {
    color: beige;
    display: none;
}

    
@media (max-width: 992px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    body {
        flex-direction: column;
        display: flex;
        justify-content: right;
        align-items: center;
        min-height: 100vh;
        background: url(img/rotatorimg.jpeg);
        background-size: cover;
        padding-bottom: 30vh;
    }
    h2 {
        position: relative;
        font-size: 2em;
        color: burlywood;
        width: 70%;
        margin-left: 15px;
    }
    
    h2 span {
        color: beige;
        display: none;
    }
}